

*{
	padding: 0;
	margin: 0;
	border: 0;
}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body{
    font-family:Arial;
    max-width: 1280px;
    margin: 0 auto;
}

header{
     
    margin: 0 auto;
    .top__info{
       background-color: #445162;
       display:flex;
       justify-content:space-between;
    }
    .top__main{
        margin-left: 50px;
    }
    .top__main_header{
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
        font-size: 60px;
        line-height: 1.2;
        font-weight: 400;
        color: #ffffff;
        padding-top: 50px;
        padding-bottom: 20px;        
    }
    .top__main_text{
        list-style-type: none;
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
        font-size: 20px;
        line-height: 36px;
        color: #ffffff;
    }
   
    .top__main_text li{
        padding-left:35px;
        background: url(../img/check_icon_346.png) no-repeat left;
    }
    
    .top__img_white{
        padding-top: 50px;   
        margin-right: 50px;
        padding-bottom: 60px;
    }
    .top__video{
        margin: 50px;
    }
}

main{
     
    margin: 0 auto;
 .main__about{
     display: flex;
     justify-content:space-between;
 }   
 .main__about_text{
      margin-left: 50px;
 }
 .main__about_main{     
     font-size: 30px;
     line-height: 36px;
     font-weight: 400;
     color: #445161;
     padding-bottom: 30px;
     padding-top: 50px;
 }
 .main__about_lorem{
     font-size: 16px;
     line-height: 24px;
     font-weight: 400;
     color: #333333;
     margin-bottom:20px;
     width: 75%;
 
   }
   .main__about_imeg{
       padding-bottom: 50px;
       padding-top: 50px;
        margin-right: 50px;
   }
   .main__Dignity{
       margin: 0 auto;
       background-color: #f5f5f5;
       padding-bottom: 50px;
   }
.Dignity__header{    
       font-size: 30px;
       line-height: 36px;
       font-weight: 400;
       color: #445161;
       text-align: center;
       padding-bottom: 30px;
       padding-top: 50px;
       
}
   .Dignity__block_title{
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       list-style-type: none;
       margin: 0 50px;
     
   }
   
   .Dignity__block_list{
       width: 42%;
       font-size: 16px;
       line-height: 24px;
       font-weight: 700;
       color: #333333;
        margin: 0 0 30px 0;
        font-family: Arial;
   }
   .Dignity__block_list {
     background: url(../img/Screenshot_1.png) no-repeat ;
     padding-left: 40px;
     background-position-y: 2px ;
   }
   
   .Scrinshots{    
      padding-bottom: 30px;
   }
   .Scrinshots__header{
       padding-top: 50px;
       padding-bottom: 30px;
       text-align: center;
       font-size: 30px;
       line-height: 36px;
       font-weight: 400;
       color: #445161;
   }
   .Scrinshots__list{     
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
       list-style-type: none;  
       padding-left: 50px;   
   }
      
   .Scrinshots__list_kart {
       width: 50%;      
       display: flex;
       margin: 0 0 30px 0;
        
   }
  .Scrinshots__block_mini{
      margin-left: 20px;
  }
   .Scrinshots__block_text{
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
   }
   .Scrinshots__block_header{       
       font-size: 24px;
       line-height: 30px;
       font-weight: 400;
       color: #445161;
   }
.Reviews{
    padding-bottom: 30px;  
    background: #f5f5f5;
   
}
.Reviews__header{
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    padding-top: 50px;
    padding-bottom: 30px;
    
}
.Reviews__list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
}
   .Reviews__list_komment{
       width: 50%;
       display: flex;      
   }
   .Reviews__list_text{
       width: 80%;
       font-size: 14px;
       line-height: 18px;
       font-weight: 400;
       font-style: italic;
       color: #333333;
       margin: 12px 0 0 30px;         
   }
   
   .Reviews__list_block{
       margin: 0 0 30px 30px;
       background: #ebebeb;
       width: 483px;
       position: relative;
       height: 121px;
   }
   .Reviews__list_block::before{
        border: 20px solid transparent;
       border-right: 20px solid #ebebeb;;
       content: '';
       position: absolute;
       top: 13px;
       left: -40px;
   }
   .Reviews__list_img{
       width: 75px;
       height: 75px;
   }
 
   .Lourens{
       font-size: 14px;
       line-height: 18px;
       font-weight: 400;
       color: #989898;
       margin-top: 5px;
       margin-left: 30px;
   }
   .kart{
       padding-bottom: 50px;
   }
   .kart__block{
       display: flex;
       justify-content: space-around;
       padding-top: 30px;
       flex-flow: row wrap;
       justify-content: center;
       align-items: flex-end;
       
   }
   .karta__header{
       text-align: center;
       font-size: 30px;
       line-height: 36px;
       font-weight: 400;
       color: #445161;
       padding-top: 50px;
   }
    .block{
       background-color: #445162;
       border: 2px solid #445162;
       width: 300px;   
       margin-right: 50px;
   }
   .none{
       list-style-type: none;
       font-size: 14px;
       line-height: 24px;
       font-weight: 400;
       color: #ffffff;
       padding: 20px;
   }
   .head{
        text-align: center;
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        color: #ffffff;
   }
   .price{
       font-size: 40px;
       line-height: 30px;
       font-weight: 400;
       color: #445162;
       text-align: center;
       width: 300px;
       max-height: 71px;
       background-color: #fff;
       padding: 20px 0;      
   }
   .link{
       margin: 0 10px;  
	   padding: 10px 115px;	  
	   display: inline-block;	   
	   border-radius: 7px;       
       letter-spacing: 2.8px;
       background: #fff;
       text-decoration: none;
       color:#445162 ;
       font-size: 18px;
       line-height: 18px;
       font-weight: 700;
       &:hover{
       box-shadow: 0px 0px 20px #fff;
       border-radius: 15px;
       }
       &:active{
           font-size: 20px;
       }
   }
   
   .kart__Standart{
       height: 300px;
   }
   .kart__Premium{
       height: 400px;
   }
   .kart__lux{
       height: 490px;
   }

}
footer{
    background: #445162;
    min-height: 508px;
    .Contacts__block{
        display: flex;
        justify-content: space-around;
        max-width: 850px;
        margin:0 auto;
        padding-bottom:20px;
    }
    .Contacts__header{
        text-align: center;       
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        color: #ffffff;
        padding-top: 50px;
        margin: 0 0 30px 0;
    }
.Contacts__info_pole{
    width: 500px;
    height: 40px;
    margin: 0 0 20px 0;
    border-radius: 7px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding-left: 15px;
     &:hover{
       box-shadow: 0px 0px 20px #fff;
       border-radius: 15px;
       }
       
}
.Contacts__text_pole{
    width: 500px;
    height: 170px;
    border-radius: 7px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
    padding-left: 15px;
     &:hover{
       box-shadow: 0px 0px 20px #fff;
       border-radius: 15px;
       }
}
.Contacts__Contacts_list{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 20px 0;
    list-style-type: none;
}
.k{
    margin: 0 0 20px 0;
    
}
a{
    text-decoration: none;
    color: #fff;
    &:hover{
        box-shadow: 0px 0px 20px #fff;
       border-radius: 15px; 
    }
     &:active{
           font-size: 20px;
       }
}
.Contacts__Contacts_skype{
    background: url(../img/skype_icon_319.png) no-repeat left;
    padding-left: 30px;
}
.Contacts__Contacts_icq{
    background: url(../img/icq_icon_324.png) no-repeat left;
    padding-left: 30px;
}
.Contacts__Contacts_icq{
    background: url(../img/email_icon_332.png) no-repeat left;
    padding-left: 30px;
}
.Contacts__Contacts_tel{
    background: url(../img/phone_icon_337.png) no-repeat left;
    padding-left: 30px;
}
.Contacts__link {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #445162;
    background: #fff;
    border-radius: 7px;
    padding: 14px 50px;
    margin: 0 35%;
     &:hover{
       box-shadow: 0px 0px 20px #fff;
       border-radius: 15px;
       }
       &:active{
           font-size: 20px;
       }
}
.PS{
    text-align: center;
    padding: 10px 0;
    opacity: 0.5;
    background: #fff;
    height: auto;
    margin-top: 50px;
    font-size: 13px;
}
}

